<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>  Offer made   </h1>
    <p>
      Visit your profile at (tba)!
    <p>Thanks for Tworking!</p>
  </body>
</html>