<div class="container profile">
  <div class="row">
    <div class="col-sm-9">
      <span class="profile-name">
        <%= @user.name %>
      </span></div>
    <div class="col-sm-3">
      <% if @user.image.url.nil? %>
        <%= image_tag('default.png', class: "img-circle") %>
      <% else %>
        <%= image_tag(@user.image_url(:thumb), class: "img-circle") %>
      <% end %>
      
    </div>
  </div>

</div>

