<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<% flash.each do |name, msg| %>
    <%= content_tag :h3, msg, class: name %>
<% end %>

<% if !logged_in? %>
<%= link_to "Login With Twitter", "/auth/twitter" %>
<% end %>