// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show {
  width: 916px;
  /*border: 1px solid grey;*/
  padding-top: 50px;
}

.profile {
  border-bottom: 1px dashed #666
}

.job.row h4, .job.row p {
  display: inline;
}

.jobs h1 {
  padding-bottom: 20px;
  border-bottom: 1px dashed #666
}

.profile-info {
  margin-top: 40px;
}

.odd {
  background-color: #F8F8F8;
}

.profile-info p, .profile-bio p {
  font-size: 16px;
  color: #666;
}

.profile-name {
  font-weight: 700;
  font-style: normal;
  font-size: 45px;
  border-bottom: 1px solid #666;
}

.main-color {
  color: #010652;
}

.profile-right {
  padding-left: 40px;   
}

.profile-right .btn {
  margin-top: 20px;
  margin-left: 40px;   
}

.profile-bio {
  padding-top: 20px;
}
img {
  display: block;
}
