// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile {
  width: 916px;
  border: 1px solid grey;
  padding-top: 50px;
}

.profile-info {
  margin-top: 40px;
}

.profile-info p, .profile-bio p {
  font-size: 16px;
  color: #666;
}

.profile-name {
  font-weight: 700;
  font-style: normal;
  font-size: 45px;
  border-bottom: 1px solid black;
}

.profile-picture {
  padding-left: 40px;   
}

.profile-bio {
  padding-top: 20px;
}
img {
  display: block;
}
